:root{
    --primary: #7C4EE4;

}
.purplecolor{
    color:var(--primary);
}
.purple{
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}
.purple:hover{
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.background{
    background-color: var(--primary);
    color: white;
}
.readbutton{
    background-color: white;
    color: black;
    border: 1px solid var(--primary);

}
.button2{
    background-color: white;
    color: var(--primary);
}
.text-muted{
    color: #999999;
}


h2{
    font-size: 42px;
    line-height: 1.3;
}

.btn-outline-primary{
    border: 2px solid #6f42c1;
    color: #6f42c1;
}

.btn-outline-primary:hover{
    background-color: #6f42c1;
    color: white;
}